@import "tailwindcss";

:root {
  --background: #F0F8FF;
  --foreground: #171717;
}

@theme {
  --color-corpo-orange: #f57622;
  --color-corpo-blue: #02284A;

  --color-soft-orange: #FFB86A;
  --color-alt-blue: #063661;

  --color-pastel-yellow: #FFFAD1;
  --color-pastel-orange: #FFE6C2;
  --color-pastel-pink: #FFDAC5;
  --color-pastel-blue: #D5EBFF;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.fadein {
  animation-name: fadeIn;
  animation-duration: 1.5s;
}

.fadein-slower {
  animation-name: fadeIn;
  animation-duration: 2s;
}

.appear {
  animation-name: appear;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.disappear {
  animation-name: disappear;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.show {
  animation-name: show;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.hide {
  animation-name: hide;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.overlay {
  background-color: #171717;
  opacity: 0;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 150;
  visibility: hidden;
  transition: opacity 1000ms ease-in, visibility 0ms ease-in 1000ms;
}

.overlay.visible {
  visibility: visible;
  opacity: 0.5;
  transition-delay: 0ms;
}

.break-title {
  word-spacing: 1000px;
}

.markdown > * {
  all: revert;
}

.leaflet-popup-content {
  margin: 0 !important;
  width: 236px !important;
}

.leaflet-popup-content-wrapper {
  padding: 0 !important;
}

a.leaflet-popup-close-button {
  color: #F0F8FF !important;
}

.iub__us-widget {
  background-color: #02284A !important;
  padding-bottom: 2rem !important;
}

.sf-select {
  appearance: none; /* Disable the default arrow */
  -webkit-appearance: none; /* For WebKit-based browsers */
  -moz-appearance: none; /* For Firefox */
  background-image: url('data:image/svg+xml;utf8,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6 9L12 15L18 9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke="currentColor"/></svg>');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 18px;
  cursor: pointer;
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 100;}
}

@keyframes appear {
  from {width: 0; opacity: 0; }
  to {width: 350px; opacity: 100;}
}

@keyframes disappear {
  from {width: 350px; opacity: 100;}
  to {width: 0; opacity: 0;}
}

@keyframes show {
  from {width: 0; opacity: 0; }
  to {width: 100%; opacity: 100;}
}

@keyframes hide {
  from {width: 100%; opacity: 100;}
  to {width: 0; opacity: 0;}
}

@media screen and (max-width: 480px) {
  .iub__us-widget {
    justify-content: center !important;
  }
}